body {
    background-color: chocolate;
}

.box1{
    background-color: darkslategrey;
    margin-bottom: 10px;
    padding-left: 4%;
    width: 60%;
}

.box1>img {
    width: 36%;
    height:200px ;
}